<h2>Editing Time Entries for <%= @project.name %></h2>
<%= form_for @project, @time_entry do |f| %>
	<%= f.label :hours %>
	<%= f.text_field :hours %>

	<%= f.label :minutes %>
	<%= f.text_area :minutes %>
	
	<%= f.label :date %>
	<%= f.date_field :date %>

	<%= f.submit 'Save' %>

<% end %>
