<h1> Contact </h1>
<ul>
	<li><%= @contact.name %></li>
	<li><%= @contact.address %></li>
	<li><%= @contact.phone_number %></li>
	<li><%= @contact.email %></li>
</ul>

<%= link_to 'Back to contacts', contacts_path %>

<form action="/contacts/favorites" method="post">
	<%= button_to "Add to Favorites", { :controller => "contacts", :action => "favorites"} %>
	<input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form>