<h2><%= @concert.artist %> Concert</h2>
<p> <%= @concert.venue %><br>
	<%= @concert.city %><br>
	<%= @concert.date %><br>
	<%= @concert.price %><br>
	<%= @concert.description %>
</p>

<%= link_to "Add Comment", new_concert_comment_path(@concert) %>