<h3><%= @concert.artist %> Concert</h3>
<%= link_to "View Concert Info", concert_path(@concert) %>
<div class="comments">
	<h4>Comments:</h4>
	<br>
	<% @comments.each do |comment| %>
		<%= comment.author %> says:
		<%= comment.content %>
		<%= comment.date %>
		<br>
	<% end %>
</div>


