<link rel="stylesheet" type="text/css" href="/main.css">
<h1><%= @post.title %></h1>
  		<em><div class="date"><%= @post.date %></div></em><br>
  		<%= @post.text %><br>
  		<%= @post.category %><br>
  		<%= @post.author %><br>

<a href="/">Go back</a>

