<link rel="stylesheet" type="text/css" href="/main.css">
<h1><%= @post.title %></h1>
  		<em><div class="margin-10"><%= @post.date %></div></em><br>
  		<div class="margin-10"><%= @post.text %></div><br>
  		<div class="margin-10">Category: <%= @post.category %></div><br>

  		<div class="margin-10">Author: <%= @post.author %></div><br>

<a href="/">Go back</a>

