<h2>Product Details</h2>
<ul>	
		<li><%= @product.title %></li>
		<li><%= @product.description %></li>
		<li><%= @product.deadline %></li>
</ul>

<%= form_for [@user, @product] do |f| %>
	<%= f.label :email %>
  	<%= f.text_field :email %>
  	<br>
  	<%= f.label :bid %>
  	<%= f.number_field :bid %>
  	<br>
  	<%= f.submit "Submit" %>
<% end %>

<%= link_to 'Back to list', user_products_path %>
<%= link_to 'Home', root_path %>